// my_logo高度
$uni-height-70px:70px;
$uni-height-20px:20px;




//宽度
$uni-width-150px:150px;




// my公共颜色
$uni-bg-skyblue:skyblue;
$uni-bg-red:red;
$uni-bg-spink:spink;
$uni-bg-black:black;



// my  账号字体大小
$uni-size-25px:25px;
$uni-size-16px:16px;


// 外边距
// margin-left: 25px;
$uni-margin-25px:25px;
$uni-margin-10px:10px;


